.header {
  text-align: center;
  background-color: #5f5f5f;
  background-image: url(images/keyboard.jpg);
  background-size: 100% 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  margin: 0;
  font-weight: 100;
  color: #FFFFFF;
}

.tagline {
  text-align: left;
  background-color: #D3D3D3;
}

.tagline h3 {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}
